<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{client.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-1">
					<h:outputText value="#{msg.id}" />
				</div>
				<div class="col-md-3">
					<p:inputText value="#{client.client.id}" disabled="true" />
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.client}</h3>
				</div>
				<div class="box-body">
					<p:outputPanel id="clientInfo">
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.name}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{client.client.name}" maxlength="100" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.nickname}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{client.client.nickname}" maxlength="50" />
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.email}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{client.client.email}" maxlength="100" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.phone}" />
							</div>
							<div class="col-md-4">
								<p:inputMask value="#{client.client.phone}"
									mask="(99) 99999-9999" />
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.city}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{client.client.city}" maxlength="100" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.uf}" />
							</div>
							<div class="col-md-4">
								<p:selectOneMenu value="#{client.client.selectedUf}" required="true">
							        <f:selectItem itemValue="#{null}" itemLabel="-- selecione --" />
							        <f:selectItems value="#{client.client.ufs.entrySet()}" var="entry" 
    									itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							    </p:selectOneMenu>
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.registerDate}" />
							</div>
							<div class="col-md-4">
								<p:calendar value="#{client.client.registerDate}"
									pattern="dd/MM/yyyy" mask="true" showOn="button" />
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<p:commandButton icon="ui-icon-disk" value="#{msg.save}"
				actionListener="#{client.save}" update="clientInfo">
				<p:confirm header="#{msg.confirmation}"
					message="#{msg.doYouWantToSaveTheClient}" icon="ui-icon-alert" />
			</p:commandButton>
			<p:commandButton icon="ui-icon-cancel" value="#{msg.cancel}"
				type="button" onclick="window.location.reload();"
				style="margin-left: 0.2em;" />
		</ui:define>
	</ui:composition>
</h:body>
</html>