<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
		</ui:define>
		<ui:define name="main-content">
		</ui:define>
	</ui:composition>
</h:body>
</html>