<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{listOrders.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-2">
					<h:outputLabel value="#{msg.searchProduct}" />
				</div>
				<div class="col-md-3">
					<p:selectOneMenu value="#{listOrders.searchCriteria}"
						required="true">
						<f:selectItem itemValue="#{null}" itemLabel="-- consultar por --" />
						<f:selectItem itemValue="1" itemLabel="Nome" />
						<f:selectItem itemValue="2" itemLabel="Plataforma" />
						<f:selectItem itemValue="3" itemLabel="Categoria" />
						<f:selectItem itemValue="4" itemLabel="País" />
					</p:selectOneMenu>
				</div>
				<div class="col-md-3">
					<p:inputText id="searchText" value="#{listOrders.searchText}" />
				</div>
				<div class="col-md-2">
					<p:commandButton icon="ui-icon-search" value="#{msg.search}"
						actionListener="#{listOrders.search}" update="searchText, orders">
					</p:commandButton>
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.orders}</h3>
				</div>
				<div class="box-body">
					<p:dataTable id="orders" var="order_" value="#{listOrders.orders}"
						rows="10" paginator="true" emptyMessage="#{msg.noItem}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginatorPosition="bottom" rowsPerPageTemplate="5, 10, 15">
						<p:column headerText="#{msg.number}" sortBy="#{order_.number}"
							priority="1" styleClass="center-text">
							#<h:outputText value="#{order_.number}" />
						</p:column>
						<p:column headerText="#{msg.client}"
							sortBy="#{order_.client.name}" priority="3">
							<h:outputText value="#{order_.client.name}" />
						</p:column>
						<p:column headerText="#{msg.value}" sortBy="#{order_.orderValue}"
							priority="2" styleClass="money">
							<h:outputText value="#{order_.orderValue}">
								<f:convertNumber type="currency" currencySymbol="R$"
									locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style="width: 59px; text-align: center;">
							<p:commandButton actionListener="#{listOrders.edit(order_)}"
								process="@this, orders" icon="ui-icon-pencil"
								title="#{msg.edit}" />
						</p:column>
						<p:column style="width: 59px; text-align: center;">
							<p:commandButton actionListener="#{listOrders.delete(order_)}"
								process="@this, orders" update="orders" icon="ui-icon-closethick"
								title="#{msg.delete}">
								<p:confirm header="#{msg.confirmation}"
									message="#{msg.doYouWantToDeleteTheOrder}" icon="ui-icon-alert" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>