<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{listClients.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-2">
					<h:outputLabel value="#{msg.searchClient}" />
				</div>
				<div class="col-md-3">
					<p:selectOneMenu value="#{listClients.searchCriteria}"
						required="true">
						<f:selectItem itemValue="#{null}" itemLabel="-- consultar por --" />
						<f:selectItem itemValue="1" itemLabel="Apelido" />
						<f:selectItem itemValue="2" itemLabel="Nome" />
						<f:selectItem itemValue="3" itemLabel="E-mail" />
					</p:selectOneMenu>
				</div>
				<div class="col-md-3">
					<p:inputText id="searchText" value="#{listClients.searchText}" />
				</div>
				<div class="col-md-2">
					<p:commandButton icon="ui-icon-search" value="#{msg.search}"
						actionListener="#{listClients.search}" update="searchText, clients">
					</p:commandButton>
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.clients}</h3>
				</div>
				<div class="box-body">
					<p:dataTable id="clients" var="client_"
						value="#{listClients.clients}" rows="10" paginator="true"
						emptyMessage="#{msg.noItem}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginatorPosition="bottom" rowsPerPageTemplate="5, 10, 15">
						<p:column style="width: 32px;">
							<p:rowToggler />
						</p:column>
						<p:column headerText="#{msg.name}" sortBy="#{client_.name}"
							priority="1">
							<h:outputText value="#{client_.name}" />
						</p:column>
						<p:column headerText="#{msg.email}" sortBy="#{client_.email}"
							priority="3">
							<h:outputText value="#{client_.email}" />
						</p:column>
						<p:column headerText="#{msg.phone}" sortBy="#{client_.phone}"
							priority="2">
							<h:outputText value="#{client_.phone}" />
						</p:column>
						<p:column style="width: 59px; text-align: center;">
							<p:commandButton actionListener="#{listClients.edit(client_)}"
								process="@this, clients" icon="ui-icon-pencil"
								title="#{msg.edit}" />
						</p:column>
						<p:rowExpansion>
							<p:dataTable id="orders" var="order_" value="#{client_.orders}">
								<p:column headerText="#{msg.orders}" styleClass="center-text">
									<p:commandLink
										actionListener="#{listClients.openOrder(order_)}"
										process="@this, orders">
										#<h:outputText value="#{order_.number}" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
						</p:rowExpansion>
					</p:dataTable>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>