<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{listProducts.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-2">
					<h:outputLabel value="#{msg.searchProduct}" />
				</div>
				<div class="col-md-3">
					<p:selectOneMenu value="#{listProducts.searchCriteria}"
						required="true">
						<f:selectItem itemValue="#{null}" itemLabel="-- consultar por --" />
						<f:selectItem itemValue="1" itemLabel="Nome" />
						<f:selectItem itemValue="2" itemLabel="Plataforma" />
						<f:selectItem itemValue="3" itemLabel="Categoria" />
						<f:selectItem itemValue="4" itemLabel="País" />
					</p:selectOneMenu>
				</div>
				<div class="col-md-3">
					<p:inputText id="searchText" value="#{listProducts.searchText}" />
				</div>
				<div class="col-md-2">
					<p:commandButton icon="ui-icon-search" value="#{msg.search}"
						actionListener="#{listProducts.search}" update="searchText, products">
					</p:commandButton>
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.products}</h3>
				</div>
				<div class="box-body">
					<p:dataTable id="products" var="product_" value="#{listProducts.products}"
						rows="10" paginator="true" emptyMessage="#{msg.noItem}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginatorPosition="bottom" rowsPerPageTemplate="5, 10, 15">
						<p:column headerText="#{msg.name}" sortBy="#{product_.name}"
							priority="1">
							<h:outputText value="#{product_.name}" />
						</p:column>
						<p:column headerText="#{msg.plataform}"
							sortBy="#{product_.plataforms[product_.selectedPlataform]}" priority="3">
							<h:outputText value="#{product_.plataforms[product_.selectedPlataform]}" />
						</p:column>
						<p:column headerText="#{msg.category}"
							sortBy="#{product_.categories[product_.selectedCategory]}" priority="3">
							<h:outputText value="#{product_.categories[product_.selectedCategory]}" />
						</p:column>
						<p:column headerText="#{msg.country}"
							sortBy="#{product_.countries[product_.selectedCountry]}" priority="3">
							<h:outputText value="#{product_.countries[product_.selectedCountry]}" />
						</p:column>
						<p:column style="width: 59px; text-align: center;">
							<p:commandButton actionListener="#{listProducts.edit(product_)}"
								process="@this, products" icon="ui-icon-pencil"
								title="#{msg.edit}" />
						</p:column>
						<p:column style="width: 59px; text-align: center;">
							<p:commandButton actionListener="#{listProducts.delete(product_)}"
								process="@this, products" update="products" icon="ui-icon-closethick"
								title="#{msg.delete}">
								<p:confirm header="#{msg.confirmation}"
									message="#{msg.doYouWantToDeleteTheProduct}" icon="ui-icon-alert" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>