<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{order.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-1">
					<h:outputLabel value="#{msg.number}" />
				</div>
				<div class="col-md-3">
					<p:inputText value="" disabled="true" />
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.client}</h3>
				</div>
				<div class="box-body">
					<div id="searchClient" class="row">
						<div class="col-md-2">
							<h:outputLabel value="#{msg.searchClient}" />
						</div>
						<div class="col-md-8">
							<p:autoComplete id="clientSelection" value="#{order.clientQuery}"
								completeMethod="#{order.onClientCompleteText}">
								<p:ajax event="itemSelect" listener="#{order.onClientSelect}"
									update="clientSelection, clientInfo" />
							</p:autoComplete>
						</div>
					</div>
					<div class="row" />
					<p:outputPanel id="clientInfo">
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.id}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{order.order.client.id}" disabled="true" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.name}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{order.order.client.name}"
									disabled="true" />
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.nickname}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{order.order.client.nickname}"
									disabled="true" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.email}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{order.order.client.email}"
									disabled="true" />
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.phone}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{order.order.client.phone}"
									disabled="true" />
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.products}</h3>
				</div>
				<div class="box-body">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton icon="ui-icon-plus" type="button"
								onclick="$('#searchProduct').slideDown();" />
							<p:commandButton icon="ui-icon-closethick"
								actionListener="#{order.deleteProducts}"
								process="@this, products" update="products, orderValue">
								<p:confirm header="#{msg.confirmation}"
									message="#{msg.doYouWantToDeleteTheSelectedProducts}"
									icon="ui-icon-alert" />
							</p:commandButton>
						</f:facet>
					</p:toolbar>
					<div id="searchProduct" class="row" style="display: none;">
						<div class="col-md-1" />
						<div class="col-md-2">
							<h:outputLabel value="#{msg.searchProduct}" />
						</div>
						<div class="col-md-8">
							<p:autoComplete id="productSelection"
								value="#{order.productQuery}"
								completeMethod="#{order.onProductCompleteText}">
								<p:ajax event="itemSelect" listener="#{order.onProductSelect}"
									update="productSelection, products, orderValue"
									oncomplete="$('#searchProduct').slideUp();" />
							</p:autoComplete>
						</div>
					</div>
					<p:dataTable id="products" var="product_" value="#{order.order.products}"
						rows="10" paginator="true" emptyMessage="#{msg.noItem}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginatorPosition="bottom" rowsPerPageTemplate="5, 10, 15"
						selection="#{order.selectedProducts}" rowKey="#{product_.id}">
						<p:column selectionMode="multiple"
							style="width: 40px; text-align: center" />
						<p:column headerText="#{msg.id}" priority="4" sortBy="#{product_.id}"
							styleClass="center-text">
							<h:outputText value="#{product_.id}" />
						</p:column>
						<p:column headerText="#{msg.name}" sortBy="#{product_.name}"
							priority="1">
							<h:outputText value="#{product_.name}" />
						</p:column>
						<p:column headerText="#{msg.unitValue}" sortBy="#{product_.value}"
							priority="4" styleClass="money">
							<h:outputText value="#{product_.value}">
								<f:convertNumber type="currency" currencySymbol="R$"
									locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msg.quantity}"
							sortBy="#{product_.quantity}" priority="2"
							styleClass="center-text">
							<h:outputText value="#{product_.quantity}" />
						</p:column>
						<p:column headerText="#{msg.totalValue}"
							sortBy="#{product_.totalValue}" priority="3" styleClass="money">
							<h:outputText value="#{product_.totalValue}">
								<f:convertNumber type="currency" currencySymbol="R$"
									locale="pt_BR" />
							</h:outputText>
						</p:column>
					</p:dataTable>
					<p:toolbar id="orderValue">
						<f:facet name="right">
							<h:outputText value="#{msg.orderValue}:&#160;" />
							<h:outputText value="#{order.orderValue}">
								<f:convertNumber type="currency" currencySymbol="R$"
									locale="pt_BR" />
							</h:outputText>
						</f:facet>
					</p:toolbar>
				</div>
			</div>
			<p:commandButton icon="ui-icon-disk" value="#{msg.save}"
				actionListener="#{order.save}">
				<p:confirm header="#{msg.confirmation}"
					message="#{msg.doYouWantToSaveTheOrder}" icon="ui-icon-alert" />
			</p:commandButton>
			<p:commandButton icon="ui-icon-cancel" value="#{msg.cancel}"
				type="button" onclick="window.location.reload();"
				style="margin-left: 0.2em;" />
		</ui:define>
	</ui:composition>
</h:body>
</html>