<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="main-content-header">
			<h:outputText value="#{product.contentHeader}" />
		</ui:define>
		<ui:define name="main-content">
			<div class="row">
				<div class="col-md-1">
					<h:outputText value="#{msg.id}" />
				</div>
				<div class="col-md-3">
					<p:inputText value="#{product.product.id}" disabled="true" />
				</div>
			</div>
			<div class="row" />
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">#{msg.product}</h3>
				</div>
				<div class="box-body">
					<p:outputPanel id="productInfo">
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.name}" />
							</div>
							<div class="col-md-4">
								<p:inputText value="#{product.product.name}" maxlength="100" />
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.plataform}" />
							</div>
							<div class="col-md-4">
								<p:selectOneMenu value="#{product.product.selectedPlataform}" required="true">
							        <f:selectItem itemValue="#{null}" itemLabel="-- selecione --" />
							        <f:selectItems value="#{product.product.plataforms.entrySet()}" var="entry" 
    									itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							    </p:selectOneMenu>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<h:outputLabel value="#{msg.category}" />
							</div>
							<div class="col-md-4">
								<p:selectOneMenu value="#{product.product.selectedCategory}" required="true">
							        <f:selectItem itemValue="#{null}" itemLabel="-- selecione --" />
							        <f:selectItems value="#{product.product.categories.entrySet()}" var="entry" 
    									itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							    </p:selectOneMenu>
							</div>
							<div class="col-md-2">
								<h:outputLabel value="#{msg.country}" />
							</div>
							<div class="col-md-4">
								<p:selectOneMenu value="#{product.product.selectedCountry}" required="true">
							        <f:selectItem itemValue="#{null}" itemLabel="-- selecione --" />
							        <f:selectItems value="#{product.product.countries.entrySet()}" var="entry" 
    									itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							    </p:selectOneMenu>
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<p:commandButton icon="ui-icon-disk" value="#{msg.save}"
				actionListener="#{product.save}" update="productInfo">
				<p:confirm header="#{msg.confirmation}"
					message="#{msg.doYouWantToSaveTheProduct}" icon="ui-icon-alert" />
			</p:commandButton>
			<p:commandButton icon="ui-icon-cancel" value="#{msg.cancel}"
				type="button" onclick="window.location.reload();"
				style="margin-left: 0.2em;" />
		</ui:define>
	</ui:composition>
</h:body>
</html>