<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>MercadoLivre Crush</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />
	<!-- Bootstrap 3.3.6 -->
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
	<!-- Ionicons -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
	<!-- Theme style -->
	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
		      page. However, you can choose any other skin. Make sure you
		      apply the skin class to the body tag so the changes take effect.
		-->
	<h:outputStylesheet library="css" name="skin-yellow.min.css" />
	<!-- Application style -->
	<h:outputStylesheet library="css" name="style.css" />
	<!-- Application style -->
	<h:outputStylesheet library="css" name="ring.css" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</h:head>

<h:body styleClass="hold-transition skin-yellow sidebar-mini">

	<p:layout fullPage="true">
		<p:layoutUnit position="center">

			<p:ajaxStatus onstart="PF('statusDialog').show();"
				onsuccess="PF('statusDialog').hide();" />
			<p:dialog id="statusDialog" widgetVar="statusDialog" modal="true"
				draggable="false" closable="false" resizable="false"
				showHeader="false" style="z-index: 99999;">
				<div class='uil-ring-css' style='transform: scale(0.5);'>
					<div></div>
				</div>
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="#{msg.yes}" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="#{msg.no}" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="wrapper">

				<!-- Main Header -->
				<header class="main-header">

					<!-- Logo -->
					<h:link outcome="index" styleClass="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
						<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
						<span class="logo-lg"><b>MercadoLibre </b>Crush</span>
					</h:link>

					<!-- Header Navbar -->
					<nav class="navbar navbar-static-top" role="navigation">
						<!-- Sidebar toggle button-->
						<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
							role="button"> <span class="sr-only">Toggle navigation</span>
						</a>
						<!-- Navbar Right Menu -->
						<div class="navbar-custom-menu">
							<ul class="nav navbar-nav">

								<!-- Notifications Menu -->
								<li class="dropdown notifications-menu">
									<!-- Menu toggle button --> <a href="#" class="dropdown-toggle"
									data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span
										class="label label-warning">10</span>
								</a>
									<ul class="dropdown-menu">
										<li class="header">You have 10 notifications</li>
										<li>
											<!-- Inner Menu: contains the notifications -->
											<ul class="menu">
												<li>
													<!-- start notification --> <a href="#"> <i
														class="fa fa-users text-aqua"></i> 5 new members joined
														today
												</a>
												</li>
												<!-- end notification -->
											</ul>
										</li>
										<li class="footer"><a href="#">View all</a></li>
									</ul>
								</li>

								<!-- User Account Menu -->
								<li class="dropdown user user-menu">
									<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
									data-toggle="dropdown"> <!-- The user image in the navbar-->
										<img src="#{resource['img/user2-160x160.jpg']}"
										class="user-image" alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
										<span class="hidden-xs">Rafael Orágio</span>
								</a>
									<ul class="dropdown-menu">
										<!-- The user image in the menu -->
										<li class="user-header"><img
											src="#{resource['img/user2-160x160.jpg']}" class="img-circle"
											alt="User Image" />

											<p>Rafael Orágio</p></li>
										<!-- Menu Footer-->
										<li class="user-footer">
											<div class="pull-left">
												<a href="#" class="btn btn-default btn-flat">Alterar
													senha</a>
											</div>
											<div class="pull-right">
												<a href="#" class="btn btn-default btn-flat">Sair</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
				</header>
				<!-- Left side column. contains the logo and sidebar -->
				<aside class="main-sidebar">

					<!-- sidebar: style can be found in sidebar.less -->
					<section class="sidebar">

						<!-- Sidebar user panel (optional) -->
						<!-- div class="user-panel">
			        <div class="pull-left image">
			          <img src="#{resource['img/user2-160x160.jpg']}" class="img-circle" alt="User Image" />
			        </div>
			        <div class="pull-left info">
			          <p>Rafael Orágio</p>
			          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			        </div>
			      </div -->

						<!-- search form (Optional) -->
						<form action="#" method="get" class="sidebar-form">
							<div class="input-group">
								<input type="text" name="q" class="form-control"
									placeholder="Pesquisar..." /> <span class="input-group-btn">
									<button type="submit" name="search" id="search-btn"
										class="btn btn-flat">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
						<!-- /.search form -->

						<!-- Sidebar Menu -->
						<ul class="sidebar-menu">
							<!-- Optionally, you can add icons to the links -->
							<li class="treeview">
								<a href="#"><i class="fa fa-link"></i>
									<span>Clientes</span>
									<span class="pull-right-container">
										<i class="fa fa-angle-left pull-right"></i>
									</span> 
								</a>
								<ul class="treeview-menu">
									<li><h:link value="Listar" outcome="listClients" /></li>
									<li><h:link value="Cadastrar" outcome="client" /></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#"><i class="fa fa-link"></i>
									<span>Produtos</span>
									<span class="pull-right-container">
										<i class="fa fa-angle-left pull-right"></i>
									</span> 
								</a>
								<ul class="treeview-menu">
									<li><h:link value="Listar" outcome="listProducts" /></li>
									<li><h:link value="Cadastrar" outcome="product" /></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#"><i class="fa fa-link"></i>
									<span>Pedidos</span>
									<span class="pull-right-container">
										<i class="fa fa-angle-left pull-right"></i>
									</span> 
								</a>
								<ul class="treeview-menu">
									<li><h:link value="Listar" outcome="listOrders" /></li>
									<li><h:link value="Cadastrar" outcome="order" /></li>
								</ul>
							</li>
							<li><a href="#"><i class="fa fa-link"></i> <span>Logs</span></a></li>
							<li><a href="#"><i class="fa fa-link"></i> <span>Configurações</span></a></li>
						</ul>
						<!-- /.sidebar-menu -->
					</section>
					<!-- /.sidebar -->
				</aside>

				<!-- Content Wrapper. Contains page content -->
				<div class="content-wrapper">
					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h1>
							<ui:insert name="main-content-header" />
						</h1>
					</section>
					<!-- Main content -->
					<section class="content">
						<h:form>
							<ui:insert name="main-content" />
						</h:form>
					</section>
					<!-- /.content -->
				</div>
				<!-- /.content-wrapper -->

				<!-- Main Footer -->
				<footer class="main-footer">
					<!-- To the right -->
					<div class="pull-right hidden-xs">Anything you want</div>
					<!-- Default to the left -->
					<strong>Copyright 2016 <a href="#">Company</a>.
					</strong> All rights reserved.
				</footer>

				<!-- Add the sidebar's background. This div must be placed
			       immediately after the control sidebar -->
				<div class="control-sidebar-bg"></div>
			</div>
			<!-- ./wrapper -->

			<!-- REQUIRED JS SCRIPTS -->
			<!-- jQuery 2.2.3 -->
			<!-- Bootstrap 3.3.6 -->
			<h:outputScript library="js" name="bootstrap.min.js" />
			<!-- AdminLTE App -->
			<h:outputScript library="js" name="app.min.js" />
			<!-- Application script -->
			<h:outputScript library="js" name="script.js" />

			<!-- Optionally, you can add Slimscroll and FastClick plugins.
			     Both of these plugins are recommended to enhance the
			     user experience. Slimscroll is required when using the
			     fixed layout. -->

		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
