.ui-layout-unit {
    padding: 0 !important;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0 !important;
}

.row {
	margin-bottom: 15px;
}

.content {
	margin-top: 25px;
}

.box-body {
	padding-top: 23px;
}

.ui-datatable {
	margin-bottom: 13px;
}

.ui-outputlabel {
	margin-top: 3px;
}

label {
	margin-bottom: 0px;
}

.ui-toolbar {
	margin-bottom: 15px;
}

.center-text {
	text-align: center;
}

.money {
	text-align: right;
}

#statusDialog {
	background: transparent !important;
	border: none !important;
	moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-selectonemenu {
	width: 203px !important;
}

.ui-selectonemenu-trigger {
	width: 31px !important;
}